
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>AirLine Reservation</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
      <script src='main.js'></script>
    <link rel='stylesheet' type='text/css' media='screen' href='log-in.component.css'>
</head>
 
  <body>
  <section class="head">
  <nav class="navbar">
	<img alt="" height="90px" width="90px" src="..\assets\img\OIP.jpg" >
		<h1 class="logo">ADVENTURE AIRLINE</h1>
		 <ul class="nav-links">
			<li><a href="/">Home</a></li>
			<li><a href="search-flight">Search Flight</a></li>
			<li><a href="ticket-booking">Ticket Booking</a></li>
			<li><a href="edit-profile">Edit Profile</a></li>
			<li><a href="cancel-ticket">Cancel Ticket</a></li>
			
		</ul>
		<img src="./img/menu-btn.jpg" alt="" class="menu-btn">
		
	</nav>
</section>


	
	<div class="mask d-flex align-items-center h-100 gradient-custom-3">
	 <div class="container h-100">
	  <div class="row d-flex justify-content-center align-items-center h-100">
	   <div class="col-12 col-md-9 col-lg-7 col-xl-6">
	   <div class="card" style="border-radius: 15px;">
	   <div class="card-body p-5">
        <h2 class="text-uppercase text-center mb-3">Log In</h2>
 
              <form>

                <div class="form-outline mb-4">
                 <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="text" id="form3Example1cg" placeholder="Email" class="form-control form-control-lg" />
         
                </div>

                <div class="form-outline mb-4">
                 <label class="form-label" for="form3Example3cg">Password</label>
                  <input type="email" id="form3Example3cg" placeholder="Password" class="form-control form-control-lg" />
   
                </div>

           
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body mb-4"><a href="index" class="fw-bold text-body">Log In</a></button>
                  &nbsp;&nbsp;
                  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body mb-4"><a href="index" class="fw-bold text-body">Cancel</a></button>
                </div>

              <p class="text-center text-muted mt-3 mb-4">Don't have an account? <a href="register" class="fw-bold text-body"><u>Register here</u></a></p>

              </form>
              </div>
              </div>
             </div>
</div>
</div>
 </div>

</body>
</html>

 
