
h1{
  text-align: center;
  color:whitesmoke;
  text-decoration-style: solid;
  
}

a{	
	text-decoration:none;
}
ul{
	list-style:none;
}
.navbar{	
	position:absolute;
	top:-23px;
	left:0;
	display:flex;
	width:94%;
	justify-content:space-between;
	padding:20px;
	color:black;
}
.navbar h1{
	font-size:7vmin;
	margin-top:25px;
	margin-bottom:30px;
	margin-left:-19px;
	color:darkblue;
}
.nav-links{
	display:flex;
	align-items:center;
}
.nav-links li{
	margin:0 10px;
}
.head{
	width:99.7%;
	min-height:102.2px;
	padding:20px 80px;
	margin:0;
	background:#ADD8E6;
	text-align:center;
	margin-left:1px;
	margin-top:1px;
	
}

header{
	width:100.5vw;
	height:83vh;
	background-image:url('https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/wackiest-airplanes-plane1215.jpg?itok=XpmhZDq8');
	background-position:bottom;
	background-size:cover;
	display:flex;
	aling-items:flex-end;
	justify-content:center;
	margin-left:-10px;
}
.header-content{
	margin-bottom:150px;
	color:black;
	text-align:center;
}
.header-content h2{
	font-size:5vmin;
	margin-top:50px;
	margin-bottom:10px;
}
.line{
	width:150px;
	height:4px;
	background:red;
	margin:10px auto;
	border-radius:5px;
}
.header-content h1{
	font-size:8vmin;
	margin-top:40px;
	margin-bottom:30px;
	color:black;
}




a{
	text-decoration:none;
}
.ctn{
	padding:8px 15px;
	background:red;
	border-radius:30px;
	color:whitesmoke;
}

label{
	color:black;
	font-size:18px;
	float: left;
width: -2em;
margin-right: 5em;
}




.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}